<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>

        <section class="banner">
            <img class="banner__img" src="img/media/banner.png">
            <div class="banner__info">
                <h1 class="banner__title">Man-Hu</h1>
                <p class="banner__p">Productos</p>
            </div>
        
        </section>
        
        <section id="productos">
            <div id="p">
                <p id="title">planqueta de cacahuate</p>
                <p id="descripcion">8 piezas/pepitorias</p>
                <img src="img/productos/1.jpeg">
                <p id="precio">$55.00</p>
            </div>
            <div id="p">
                <p id="title">crema de mani con almendra, nuez y stevia en 310g</p>
                <p id="descripcion">En 570g a $110 </p>
                <img src="img/productos/2.jpeg">
                <p id="precio">$60.00</p>
            </div>

            <div id="p">
                <p id="title">Mazapán menos azucar más cacahuate</p>
                <p id="descripcion">250g a $45, igual que el mazapán tradicional pero con 50% menos azucar y 50% más cacahuate </p>
                <img src="img/productos/3.jpeg">
                <p id="precio">$45,00 MXN</p>
            </div>

            <div id="p">
                <p id="title">Caja mazapán surtido </p>
                <p id="descripcion">16 mini mazapán de chispas, oreo, nuez, almendra y tajin </p>
                <img src="img/productos/4.jpeg">
                <p id="precio">$65,00 MXN</p>
            </div>

            <div id="p">
                <p id="title">Mazapan untable 310g </p>
                <p id="descripcion">310g a $55 y 570g $100 </p>
                <img src="img/productos/5.jpeg">
                <p id="precio">$55,00 MXN</p>
            </div>
            
            <div id="p">
                <p id="title">Crema de puro cacahuate 310g y 570g </p>
                <p id="descripcion">Natural</p>
                <img src="img/productos/6.jpeg">
                <p id="precio">310g $50 y 570g $90</p>
            </div>

            <div id="p">
                <p id="title">crema de cacahuate Combinada</p>
                <p id="descripcion">Combinada con oreo, chispas, miel, stevia </p>
                <img src="img/productos/7.jpeg" >
                <p id="precio">$55pesos 310g y 570g $100</p>
            </div>

            <div id="p">
                <p id="title">Mazapan gigante 250gramos y 500g </p>
                <p id="descripcion">Tradicional de 250g $40 y 500g $75.</p>
                <img src="img/productos/8.jpeg">
                <p id="precio">$40,00 MXN</p>
            </div>

            <div id="p">
                <p id="title">Mazapan gigante con aditivo </p>
                <p id="descripcion">como: chocolate, oreo, nuez y almendra.</p>
                <img src="img/productos/9.jpeg">
                <img src="img/productos/9.3.jpeg">
                <img src="img/productos/9.2.jpeg">
                <img src="img/productos/9.1.jpeg">
                <br><br><p id="precio">$50 pesos de 250g y 500g $100</p>
            </div>

            <div id="p">
                <p id="title">Mazapán sin azucar</p>
                <p id="descripcion">250g a $60 endulzado con stevia</p>
                <img src="img/productos/10.jpeg">
                <p id="precio">$60,00 MXN</p>
            </div>

            <div id="p">
                <p id="title">Pay mediano de mazapán </p>
                <p id="descripcion">1 por 100 pesos y 2x180 pesos </p>
                <img src="img/productos/11.jpeg">
                <p id="precio">$100,00 MXN</p>
            </div>
            
            
            
            <div id="p">
                <p id="title">Nutella de cacahuate </p>
                <p id="descripcion">310 gramos, también disponible en presentación de 570g $110 pesos </p>
                <img src="img/productos/12.jpeg">
                <p id="precio">$60,00 MXN</p>
            </div>

            <div id="p">
                <p id="title">Gelatina grande de mazapán </p>
                <img src="img/productos/13.jpeg">
                <p id="precio">$150,00 MXN</p>
            </div>

           
        </section>
        <%-include('partials/footer.html');%>
    </body>
</html>